/*Base*/
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*Fonts*/
/*Colors*/
/*Max width of container*/
/*Mixin for flexible container*/
/*Mixin for change button style*/
ul {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  color: #ffbd0e;
  font-size: 15px;
  font-weight: 400;
  background-color: #ff3150;
  border-radius: 18px;
  border: none;
  width: 110px;
  height: 40px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  button:hover, button:focus {
    cursor: pointer;
    outline: none;
    color: #f0f8fb;
    background-color: #bb3150; }

p {
  color: #a8b9c0;
  font-size: 15px;
  font-weight: 400; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%; }

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-top: 20px; }

h1 {
  margin-bottom: 7px;
  color: #f0f8fb;
  font-size: 51px;
  font-weight: 300; }

h2 {
  font-size: 35px;
  font-weight: 500;
  color: #19283f; }

h3 {
  padding-left: 25px;
  color: #ffbd0e;
  font-weight: 500;
  text-transform: uppercase; }

h4 {
  margin-top: 0;
  font-size: 15px;
  font-weight: 400; }

a {
  text-decoration: none; }

/*Layouts*/
/*Fonts*/
/*Colors*/
/*Max width of container*/
/*Mixin for flexible container*/
/*Mixin for change button style*/
ul {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  color: #ffbd0e;
  font-size: 15px;
  font-weight: 400;
  background-color: #ff3150;
  border-radius: 18px;
  border: none;
  width: 110px;
  height: 40px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  button:hover, button:focus {
    cursor: pointer;
    outline: none;
    color: #f0f8fb;
    background-color: #bb3150; }

p {
  color: #a8b9c0;
  font-size: 15px;
  font-weight: 400; }

.top, .advertise, .footer {
  background-color: #19283f; }

.portfolio, .team {
  background-color: #eff7fa; }

.newsletter {
  background-color: #ffbd0e; }

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: ""; }

.top-wrapper {
  min-height: 500px; }

.services-wrapper {
  min-height: 726px; }

.portfolio-wrapper {
  min-height: 996px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.about_us-wrapper {
  min-height: 790px; }

.team-wrapper {
  min-height: 712px; }

.client-wrapper {
  min-height: 182px; }

.advertise-wrapper {
  min-height: 390px; }

.blog-wrapper {
  min-height: 652px; }

.newsletter-wrapper {
  min-height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer-wrapper {
  min-height: 355px;
  font-size: 13px;
  color: #a8b9c0;
  font-weight: 400; }

/*Modules*/
/*Fonts*/
/*Colors*/
/*Max width of container*/
/*Mixin for flexible container*/
/*Mixin for change button style*/
ul {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  color: #ffbd0e;
  font-size: 15px;
  font-weight: 400;
  background-color: #ff3150;
  border-radius: 18px;
  border: none;
  width: 110px;
  height: 40px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  button:hover, button:focus {
    cursor: pointer;
    outline: none;
    color: #f0f8fb;
    background-color: #bb3150; }

p {
  color: #a8b9c0;
  font-size: 15px;
  font-weight: 400; }

/*SECTION TOP*/
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  nav ul li {
    margin-left: 42px; }
    nav ul li:nth-child(6) {
      margin-left: 27px; }
    nav ul li:nth-child(7) {
      margin-left: 25px; }

#pull {
  display: none; }

.nav_a {
  color: #a8b9c0;
  font-size: 15px;
  font-weight: 400; }

.vertical_wrapper {
  display: block;
  padding-left: 24px;
  border-left: 1px solid #33d1cc; }

.search {
  width: 21px;
  height: 25px;
  background: url("../img/search.png") no-repeat center;
  display: inline-block; }

.title {
  text-align: center; }
  .title h4 {
    color: #a8b9c0;
    margin-bottom: 34px; }
  .title button.get_started {
    width: 208px;
    margin-bottom: 40px; }

/*SECTION SERVICES*/
.service {
  text-align: center;
  min-width: 290px;
  width: 30%; }

.logo.wrap {
  margin-bottom: -5px; }

.logo_p {
  text-align: center;
  line-height: 30px;
  padding-left: 30px; }

.section_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.section_header {
  text-align: center;
  margin-bottom: 65px; }
  .section_header img {
    margin: 58px 0 50px; }
  .section_header h2 {
    margin-top: 0;
    margin-bottom: 22px; }
  .section_header p {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px; }
  .section_header span {
    height: 2px;
    width: 150px;
    display: inline-block;
    background-color: #33d1cc; }

.service_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
  min-height: 194px; }

.logo_one {
  background: url("../img/one.png") no-repeat center; }
  .logo_one div {
    padding-left: 30px; }

.logo_two {
  background: url("../img/two.png") no-repeat center; }

.logo_three {
  background: url("../img/three.png") no-repeat center; }

.more {
  margin-top: 58px;
  margin-bottom: 60px;
  width: 208px;
  text-transform: uppercase; }

/*SECTION PORTFOLIO*/
.portfolio ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 48px; }

.port_a {
  color: #a8b9c0;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 22px;
  display: inline-block;
  margin-bottom: 10px; }

.works {
  min-height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.work {
  text-align: center;
  height: 200px;
  margin: 5px 10px;
  position: relative;
  border: 1px solid #a8b9c0;
  -webkit-box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5); }

.work_text {
  display: none;
  position: absolute;
  top: 35%;
  left: 25%; }
  .work_text p:first-child {
    font-size: 20px;
    color: #fff;
    margin: 10px 0; }
  .work_text p:last-child {
    font-size: 15px;
    color: #19283f;
    margin: 0; }

/*SECTION ABOUT US*/
.section_header .about_paragraph {
  margin-top: 25px;
  text-transform: none;
  max-width: 575px; }

.about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.about_title p {
  max-width: 372px;
  font-weight: 300; }

.about_title button {
  width: 208px;
  margin-bottom: 65px;
  text-transform: uppercase; }

.about_content img {
  width: 100%;
  margin-bottom: -8px; }

/*SECTION TEAM*/
.team_wrapper h2 {
  color: #ffc501;
  margin-top: 115px;
  text-align: center; }

.team_wrapper p {
  font-weight: 300;
  text-align: center;
  margin: 20px 0 45px; }

.team_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
  justify-content: center;
  margin-bottom: 55px; }

.team_item {
  margin: 15px auto;
  text-align: center;
  background-color: #fff;
  width: 270px;
  -webkit-box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.5); }
  .team_item p {
    margin: 35px 0 20px; }

.item_figure {
  margin: 0;
  height: 270px;
  position: relative; }

.item_figcaption {
  position: absolute;
  bottom: 0;
  min-width: 270px;
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
  color: #000;
  font-weight: 400;
  background-color: #33d1cc;
  opacity: 0.6; }

/*SECTION CLIENTS*/
.clients_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/*SECTION ADVERTISE*/
.title_secondary {
  margin-top: 80px; }
  .title_secondary button {
    text-transform: uppercase; }

.h-secondary {
  font-size: 35px;
  font-weight: 500; }

/*SECTION BLOG*/
.blog_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: ""; }

.blog_item {
  margin: 0 5px; }
  .blog_item img {
    width: 100%;
    border: 1px solid #555; }

.small_paragraph {
  font-size: 13px;
  color: #a8b9c0;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 0; }

.big_paragraph {
  color: black;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px; }

.blog_btn {
  text-transform: uppercase;
  width: 208px;
  margin-top: 42px;
  margin-bottom: 58px; }

/*SECTION NEWSLETTER*/
.letter_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1170px; }

.letter_label {
  font-size: 20px;
  color: #19283f;
  margin-top: 10px;
  margin-right: 42px; }

.letter_input {
  font-size: 15px;
  width: inherit;
  padding: 40px 0 10px;
  max-width: 440px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #ffbd0e;
  outline: none;
  margin-bottom: 25px;
  margin-right: 30px; }
  .letter_input::-webkit-input-placeholder {
    color: #fff; }

.letter_btn {
  color: #ffbd0e;
  background-color: #19283f;
  font-weight: 500;
  margin-bottom: 10px; }

/*FOOTER*/
.footer_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: "";
  margin-top: 60px; }

.column_wide p {
  font-size: 13px; }

.column_wide img {
  margin-bottom: 30px; }

.column_wide p:nth-child(2) {
  line-height: 30px;
  max-width: 353px;
  margin-top: 0;
  margin-bottom: 78px; }

.column_wide p:nth-child(3) a {
  color: #33d1cc; }

.column_wide p:nth-child(4) a {
  color: #ffbd0e; }

.column_wide h4 {
  margin-bottom: 18px;
  color: #eff7fa; }

.column_wide p.call {
  margin-bottom: 40px;
  max-width: 305px;
  font-size: 13px; }

.column_wide button {
  width: 100%;
  margin-bottom: 40px; }

.column_wide ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: "";
      -ms-flex-pack: "";
          justify-content: "";
  -webkit-box-align: "";
      -ms-flex-align: "";
          align-items: ""; }
  .column_wide ul li {
    margin-right: 12px; }

div.column_narrow h4 {
  margin-bottom: 27px;
  color: #eff7fa; }

div.column_narrow li {
  margin: 0 0 27px; }

.footer_a {
  color: #a8b9c0; }

/*States*/
/*Fonts*/
/*Colors*/
/*Max width of container*/
/*Mixin for flexible container*/
/*Mixin for change button style*/
ul {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  color: #ffbd0e;
  font-size: 15px;
  font-weight: 400;
  background-color: #ff3150;
  border-radius: 18px;
  border: none;
  width: 110px;
  height: 40px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  button:hover, button:focus {
    cursor: pointer;
    outline: none;
    color: #f0f8fb;
    background-color: #bb3150; }

p {
  color: #a8b9c0;
  font-size: 15px;
  font-weight: 400; }

.work:hover {
  cursor: pointer; }
  .work:hover .work_text {
    display: block;
    z-index: 5; }
  .work:hover::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    content: '';
    background-color: #33d1cc;
    opacity: 0.8; }

.nav_a:hover, .footer_a:hover {
  color: #33d1cc; }

.port_a:hover {
  color: #ffbd0e;
  background: #ff3150;
  border-radius: 10px; }

@media screen and (max-width: 800px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative; }
  .main_nav {
    display: none;
    height: auto;
    margin: 10px 0 0 10px; }
  .main_nav li {
    margin-top: 10px;
    margin-left: 0 !important; }
    .main_nav li span.vertical_wrapper {
      border-left: none;
      padding-left: 0; }
  #pull {
    display: block;
    position: absolute;
    top: -5px;
    right: 20px; }
  #pull:after {
    content: '';
    background: url("../img/hamburger.png") no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    display: inline-block; }
  .footer_content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .column_wide p:nth-child(2) {
    margin-bottom: 0;
    max-width: 200px; }
  .column_wide p:nth-child(3) {
    max-width: 200px; } }

@media only screen and (max-width: 480px) {
  .about_title {
    text-align: center; }
  .footer_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 20px; }
  .column_wide {
    margin-bottom: 20px; }
    .column_wide p:nth-child(2) {
      margin-bottom: 0; }
  .column_narrow {
    margin-bottom: 20px; }
    .column_narrow ul li {
      margin-bottom: 10px; }
  .column_wide p:nth-child(2) {
    margin-bottom: 20px; } }

/*Fonts*/
/*Colors*/
/*Max width of container*/
/*Mixin for flexible container*/
/*Mixin for change button style*/
ul {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  color: #ffbd0e;
  font-size: 15px;
  font-weight: 400;
  background-color: #ff3150;
  border-radius: 18px;
  border: none;
  width: 110px;
  height: 40px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  button:hover, button:focus {
    cursor: pointer;
    outline: none;
    color: #f0f8fb;
    background-color: #bb3150; }

p {
  color: #a8b9c0;
  font-size: 15px;
  font-weight: 400; }
